---
layout:
title: Material Jekyll Theme
permalink: /
---
<!doctype html>
<html amp lang="en" class="t-{{ site._theme }}">
{% include head.html %}
<body>

<article class="c-article">
    <header class="c-header c-article__header c-hero">
        <div class="u-container">
            <h1 class="c-header__title">{{ site.title }}</h1>
            <h2 class="c-header__subtitle">{{ site.description }}</h2>
            <a class="c-navigation__item" href="{{ "/articles/" | prepend: site.baseurl }}">Articles</a>
            <a class="c-navigation__item" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
        </div>
    </header>
</article>
<footer class="c-header c-footer__hero ">
    <div class="u-container c-footer__container">
      <p><i class="fa fa-copyright" aria-hidden="true"></i> {{ site.title }} {{ site.time | date: '%Y' }}.</p>
      <p>
        {% if site.useremail %}<a href="mailto:{{ site.useremail }}"><i class="fa fa-envelope-o fa-2x" aria-hidden="false"></i></a>{% endif %}
        {% if site.gitlabUsername %}<a href="https://gitlab.com/u/{{ site.gitlabUsername }}"><i class="fa fa-gitlab fa-2x" aria-hidden="false"></i></a>{% endif %}
        {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}"><i class="fa fa-gitlab fa-2x" aria-hidden="false"></i></a>{% endif %}
        {% if site.twitchUsername %}<a href="https://twitch.tv/{{ site.twitchUsername }}"><i class="fa fa-twitch fa-2x" aria-hidden="false"></i></a>{% endif %}
        {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}"><i class="fa fa-twitter fa-2x" aria-hidden="false"></i></a>{% endif %}
        <a href="{{site.url}}/feed.xml"><i class="fa fa-rss fa-2x" aria-hidden="false"></i></a>
      </p>
    </div>
</footer>
</body>
</html>
