<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p><i class="fa fa-copyright" aria-hidden="true"></i> {{ site.title }} {{ site.time | date: '%Y' }}.</p>
    <p>
      {% if site.useremail %}<a href="mailto:{{ site.useremail }}"><i class="fa fa-envelope-o fa-2x" aria-hidden="false"></i></a>{% endif %}
      {% if site.gitlabUsername %}<a href="https://gitlab.com/u/{{ site.gitlabUsername }}"><i class="fa fa-gitlab fa-2x" aria-hidden="false"></i></a>{% endif %}
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}"><i class="fa fa-gitlab fa-2x" aria-hidden="false"></i></a>{% endif %}
      {% if site.twitchUsername %}<a href="https://twitch.tv/{{ site.twitchUsername }}"><i class="fa fa-twitch fa-2x" aria-hidden="false"></i></a>{% endif %}
      {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}"><i class="fa fa-twitter fa-2x" aria-hidden="false"></i></a>{% endif %}
      <a href="{{site.url}}/feed.xml"><i class="fa fa-rss fa-2x" aria-hidden="false"></i></a>
    </p>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{site.google_analytics}}', 'auto');
  ga('send', 'pageview');
</script>
</footer>
