<head>
  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1">
  {% if page.schema %}{% assign schema = page.schema %}{% else %}{{ site.schema }}{% endif %}
  {% case schema %}
    {% when 'Product' %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Product",
          "mainEntityOfPage": "{{ post.mainEntityOfPage }}",
          "headline": "{{ post.title }}",
          "datePublished": "{{ post.date }}",
          "description": "{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}",
          "author": {
            "@type": "Person",
            "name": "{{ site.author }}"
          },
          "publisher": {
            "@type": "Person",
            "name": "site.title",
            "logo": {
              "@type": "ImageObject",
              "url": "{{ site.image.url }}",
              "width": {{ site.image.width }},
              "height": {{ site.image.height }}
            }
          },
          "image": {
            "@type": "ImageObject",
            "url": "{{ post.image.url }}",
            "height": {{ post.image.height }},
            "width": {{ post.image.width }}
          }
        }
      </script>
    {% when 'Blog' %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Blog",
          "mainEntityOfPage": "{{ post.mainEntityOfPage }}",
          "headline": "{{ post.title }}",
          "datePublished": "{{ post.date }}",
          "description": "{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}",
          "author": {
            "@type": "Person",
            "name": "{{ site.author }}"
          },
          "publisher": {
            "@type": "Person",
            "name": "site.title",
            "logo": {
              "@type": "ImageObject",
              "url": "{{ site.image.url }}",
              "width": {{ site.image.width }},
              "height": {{ site.image.height }}
            }
          },
          "image": {
            "@type": "ImageObject",
            "url": "{{ post.image.url }}",
            "height": {{ post.image.height }},
            "width": {{ post.image.width }}
          }
        }
      </script>
    {% when 'TechArticle' %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Tech",
          "mainEntityOfPage": "{{ post.mainEntityOfPage }}",
          "headline": "{{ post.title }}",
          "datePublished": "{{ post.date }}",
          "description": "{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}",
          "author": {
            "@type": "Person",
            "name": "{{ site.author }}"
          },
          "publisher": {
            "@type": "Person",
            "name": "site.title",
            "logo": {
              "@type": "ImageObject",
              "url": "{{ site.image.url }}",
              "width": {{ site.image.width }},
              "height": {{ site.image.height }}
            }
          },
          "image": {
            "@type": "ImageObject",
            "url": "{{ post.image.url }}",
            "height": {{ post.image.height }},
            "width": {{ post.image.width }}
          }
        }
      </script>
    {% when 'Custom' %}
      <script type="application/ld+json">
        {{ post.schema.custom }}
      </script>
    {% else %}
      <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "Blog",
            "mainEntityOfPage": "{{ site.url }}",
            "headline": "{{ site.title }}",
            "datePublished": "{{ site.date }}",
            "description": "{{ site.description }}",
            "author": {
              "@type": "Person",
              "name": "{{ site.author }}"
            },
            "publisher": {
              "@type": "Person",
              "name": "site.title",
              "logo": {
                "@type": "ImageObject",
                "url": "{{ site.image.url }}",
                "width": {{ site.image.width }},
                "height": {{ site.image.height }}
              }
            },
            "image": {
              "@type": "ImageObject",
              "url": "{{ post.image.url }}",
              "height": {{ post.image.height }},
              "width": {{ post.image.width }}
            }
          }
      </script>
  {% endcase %}
  <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords }}{%else%}{{ site.keywords }}{% endif %}">

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700|Roboto+Mono:400,500' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style amp-custom type="text/css">
    {% capture include_to_scssify %}
      {% include css/main.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% assign theme = site._theme %}
  {% case theme %}
    {% when 'purple' %}
      <meta name="theme-color" content="#673AB7">
      <meta name="msapplication-TileColor" content="#673AB7" />
    {% when 'green' %}
      <meta name="theme-color" content="#4CAF50">
      <meta name="msapplication-TileColor" content="#4CAF50" />
    {% when 'blue' %}
      <meta name="theme-color" content="#2196F3">
      <meta name="msapplication-TileColor" content="#2196F3" />
    {% when 'orange' %}
      <meta name="theme-color" content="#FF5722">
      <meta name="msapplication-TileColor" content="#FF5722" />
    {% when 'purple' %}
      <meta name="theme-color" content="#673AB7">
      <meta name="msapplication-TileColor" content="#673AB7" />
    {% when 'grey' %}
      <meta name="theme-color" content="#607D8B">
      <meta name="msapplication-TileColor" content="#607D8B" />
    {% else %}
      <meta name="theme-color" content="#673AB7">
      <meta name="msapplication-TileColor" content="#673AB7" />
  {% endcase %}

  <meta property="fb:admins" content="{{ site.facebook_insights }}"/>
  <meta property="fb:app_id" content="{{ site.facebook_appid }}"/>
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" />
  <meta property="article:author" content="{{ site.facebook_authorid }}"/>
  <meta property="article:publisher" content="{{ site.facebook_publisherid }}"/>
  {% if page.twitter.card == 'summary_large_image' %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter_user }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:creator" content="{{ site.twitterUsername }}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="{{ page.image }}">
  {% elsif page.twitter.card == 'app' %}
  <meta name="twitter:card" content="app">
  <meta name="twitter:site" content="{{ site.twitterUsername }}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:app:country" content="{{ page.twitter.country }}">
  <meta name="twitter:app:name:iphone" content="{{ page.twitter.iphone.name }}">
  <meta name="twitter:app:id:iphone" content="{{ page.twitter.iphone.id }}">
  <meta name="twitter:app:url:iphone" content="{{ page.twitter.iphone.url }}">
  <meta name="twitter:app:name:ipad" content="{{ page.twitter.ipad.name }}">
  <meta name="twitter:app:id:ipad" content="{{ page.twitter.ipad.id }}">
  <meta name="twitter:app:url:ipad" content="{{ page.twitter.ipad.url }}">
  <meta name="twitter:app:name:googleplay" content="{{ page.twitter.googleplay.name }}">
  <meta name="twitter:app:id:googleplay" content="{{ page.twitter.googleplay.id }}">
  <meta name="twitter:app:url:googleplay" content="{{ page.twitter.googleplay.url }}">
  {% else %}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ site.twitterUsername }}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" />
  {% endif %}

  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"/>
  <meta itemprop="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
  <meta itemprop="image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}"/>


  <link rel="icon" type="image/ico" href="{{ root_url }}/favicon.ico"/>
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ root_url }}/favicons/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ root_url }}/favicons/apple-touch-icon-60x60.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ root_url }}/favicons/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ root_url }}/favicons/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ root_url }}/favicons/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ root_url }}/favicons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ root_url }}/favicons/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="{{ root_url }}/favicons/favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="{{ root_url }}/favicons/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ root_url }}/favicons/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ root_url }}/favicons/favicon-128.png" sizes="128x128" />
  <link rel="icon" type="image/png" href="{{ root_url }}/favicons/favicon-196x196.png" sizes="196x196" />
  <meta name="application-name" content="{{ site.title }}"/>
  <meta name="msapplication-square70x70logo" content="{{ root_url }}/favicons/mstile-70x70.png" />
  <meta name="msapplication-TileImage" content="{{ root_url }}/favicons/mstile-144x144.png" />
  <meta name="msapplication-square150x150logo" content="{{ root_url }}/favicons/mstile-150x150.png" />
  <meta name="msapplication-wide310x150logo" content="{{ root_url }}/favicons/mstile-310x150.png" />
  <meta name="msapplication-square310x310logo" content="{{ root_url }}/favicons/mstile-310x310.png" />
  <meta name="msapplication-notification" content="frequency=30;polling-uri=http://notifications.buildmypinnedsite.com/?feed={{ site.url }}/atom.xml&amp;id=1;polling-uri2=http://notifications.buildmypinnedsite.com/?feed={{ site.url }}/atom.xml&amp;id=2;polling-uri3=http://notifications.buildmypinnedsite.com/?feed={{ site.url }}/atom.xml&amp;id=3;polling-uri4=http://notifications.buildmypinnedsite.com/?feed={{ site.url }}/atom.xml&amp;id=4;polling-uri5=http://notifications.buildmypinnedsite.com/?feed={{ site.url }}/atom.xml&amp;id=5;cycle=1" />

</head>
