/* ==========================================================================
   Mixins
   ========================================================================== */

// Font families
@mixin ff--sans-serif($font-weight: normal) {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: $font-weight;
}

@mixin ff--mono($font-weight: normal) {
  font-family: 'Roboto Mono', monospace;
  font-weight: $font-weight;
}

// Font sizing
@mixin fs--title {
  line-height: 1.5;
  font-size: 4rem; // 40px
}

@mixin fs--heading-1 {
  line-height: 1.25;
  font-size: 3.5rem; // 35px
}

@mixin fs--heading-2 {
  line-height: 1.25;
  font-size: 3rem; // 30px
}

@mixin fs--heading-3 {
  line-height: 1.25;
  font-size: 2rem;
}

@mixin fs--body {
  line-height: 1.5;
  font-size: 1.8rem; // 18px
}

@mixin fs--meta {
  line-height: 1;
  font-size: 1.6rem; // 16px
}
