/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
  padding-top: 14.1rem; // 75px
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  height: 300px;
  background: $c__light-grey;

  p {
    margin: 5px 0;
    @include fs--meta;
  }

  a:not(:first-of-type) {
    margin-left: 1rem;
  }
}

.c-footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footer__hero {
  background: $t-theme;
  padding-top: 10rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  height: 300px;
  color: $c__white;

  i {
    color: $c__white;
  }

  p {
    margin: 5px 0;
    @include fs--meta;
  }

  a:not(:first-of-type) {
    margin-left: 1rem;
  }
}
